In [1]:
library(tidyverse)
library(nycflights13)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.8     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.1
✔ readr   2.1.2     ✔ forcats 0.5.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [4]:
df_sub = flights %>% 
  dplyr::select(tailnum, flight, origin, dest, distance) %>% # 只选择需要的列 
  unique() %>% # 删除重复的列
  arrange(desc(distance)) %>% # 安排距离 
  slice(1) %>%  # 获得最远距离 
  left_join(., airports, c("dest" = "faa")) # 加入 airpots 以查找完整的 airpot 名称

df_sub

  tailnum flight origin dest distance name          lat      lon       alt tz
1 N380HA  51     JFK    HNL  4983     Honolulu Intl 21.31868 -157.9224 13  -10
  dst tzone
1 N   Pacific/Honolulu

In [5]:
farthest_airport = df_sub %>% pull(name)
farthest_airport

[1] "Honolulu Intl"